<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Kagome demo - Japanese morphological analyzer</title>
  <link rel="stylesheet" href="/asset/demo.css">
  <!-- for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
</head>
<body>
<div id="center">
  <h1>Kagome demo</h1>
  <form class="frm" action="/_demo" method="POST" oninput="tokenize(); scheduleLattice();">
    <div id="box">
    <textarea id="inp" class="txar" rows="3" name="s"
              placeholder="Enter Japanese text below.">{{.Sentence}}</textarea>
      <div id="rbox">
        <div><label><input type="radio" name="r" value="Normal" checked>Normal</label></div>
        <div><label><input type="radio" name="r" value="Search" {{if eq .RadioOpt "search"}}checked{{end}}>Search</label></div>
        <div><label><input type="radio" name="r" value="Extended" {{if eq .RadioOpt "extended"}}checked{{end}}>Extended</label></div>
      </div>
    </div>
  </form>

  <div id="results-row">
    <div id="morphs-panel">
      <table class="tbl">
        <thread><tr>
          <th>Surface</th>
          <th>Part-of-Speech</th>
          <th>Base Form</th>
          <th>Reading</th>
          <th>Pronunciation</th>
        </tr></thread>
        <tbody id="morphs">
        </tbody>
      </table>
    </div>
    <div id="lattice-area">
      <div id="lattice-error"></div>
      <div id="lattice-controls" style="display:none;">
        <span class="zoom-stepper">
          <button onclick="zoomOut()" title="縮小">－</button>
          <span id="zoom-label">100%</span>
          <button onclick="zoomIn()" title="拡大">＋</button>
        </span>
        <button class="zoom-action" onclick="fitZoom()" title="全体を表示">Fit</button>
        <button class="zoom-action" onclick="resetZoom()" title="等倍に戻す">Reset</button>
      </div>
      <div id="lattice-output"></div>
    </div>
  </div>
</div>

<script src="/asset/demo.js"></script>
</body>
</html>
